services:
  fileservice.web:
    image: ${DOCKER_REGISTRY-}fileserviceweb
    build:
      context: .
      dockerfile: FileService.Web/Dockerfile
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - 5341:5341
      - 8081:80